<div class="dashbord-services row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="dashbord-service col-xs-6 col-sm-2">
      <div class="col-xs-6">
        <a>
          <img src="/images/index/service-menu.png"/>
          <b>Menu & Order</b>
        </a>
      </div>
      <div class="col-xs-6">
        <p>Manage your menu and let customer order by it.</p>
      </div>
    </div>
    <div class="dashbord-service col-xs-6 col-sm-2">
      <div class="col-xs-6">
        <a>
          <img src="/images/index/service-cashier.png"/>
          <b>Cashier</b>
        </a>
      </div>
      <div class="col-xs-6">
        <p>Record every single revenues, manage them at anytime.</p>
      </div>
    </div>
    <div class="dashbord-service col-xs-6 col-sm-2">
      <div class="col-xs-6">
        <a>
          <img src="/images/index/service-inventory.png"/>
          <b>Inventory</b>
        </a>
      </div>
      <div class="col-xs-6">
        <p>Note the record of every inventory in or out.</p>
      </div>
    </div>
    <div class="dashbord-service col-xs-6 col-sm-2">
      <div class="col-xs-6">
        <a>
          <img src="/images/index/service-employee.png"/>
          <b>Employees</b>
        </a>
      </div>
      <div class="col-xs-6">
        <p>Manage your employees, control their time cards and salaries.</p>
      </div>
    </div>
    <div class="dashbord-service col-xs-6 col-sm-2">
      <div class="col-xs-6">
        <a>
          <img src="/images/index/service-account-us.png"/>
          <b>Account</b>
        </a>
      </div>
      <div class="col-xs-6">
        <p>Check your cash and account every day.</p>
      </div>
    </div>
    <div class="dashbord-service col-xs-6 col-sm-2">
      <div class="col-xs-6">
        <a>
          <img src="/images/index/service-chart.png"/>
          <b>Statistical Charts</b>
        </a>
      </div>
      <div class="col-xs-6">
        <p>Control your bussiness by statistical data, we show it visually.</p>
      </div>
    </div>
  </div>
</div>
