<div class="dashbord-menuorder-view row">
  <div class="dashbord-menuorder-content">
    <div class="dashbord-index-menuorder col-xs-12 col-sm-8 col-sm-offset-2">
      <!-- menu/order nav tabs -->
      <ul id="dashbordMenuOrder" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="menuorder/#ordering" role="tab" data-toggle="tab">Ordering</a></li>
        <li role="presentation"><a href="menuorder/#menu" role="tab" data-toggle="tab">Menu</a></li>
      </ul>
      <!-- menu/order upnav tab panes -->
      <div class="tab-content col-xs-12">
        <!-- order form tab-->
        <div role="tabpanel" class="tab-pane fade in active" id="ordering">


        </div>
        <!-- menu form tab-->
        <div role="tabpanel" class="tab-pane fade" id="menu">
          <div class="dashbord-menuorder-title-area row">
            <div class="dashbord-menuorder-title col-xs-12 col-sm-6">
              <h1>Manage menu</h1>
            </div>
            <div class="dashbord-menuorder-new col-xs-12 col-sm-6">
              <button class="btn btn-primary">New</button>
            </div>
          </div>
          <div class="dashbord-menuorder-menu-list">

          </div>
          <div class="dashbord-menuorder-menu-detail">

          </div>
          <div menu-management></div>
          <div class="dashbord-menuorder-menu-preview">

          </div>
          <div class="dashbord-menuorder-menu-update">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
