<!-- index page banner slider -->
<div class="index-banner row">
  <div id="carousel-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-generic" data-slide-to="1"></li>
      <li data-target="#carousel-generic" data-slide-to="2"></li>
      <li data-target="#carousel-generic" data-slide-to="3"></li>
      <li data-target="#carousel-generic" data-slide-to="4"></li>
      <li data-target="#carousel-generic" data-slide-to="5"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img class="slider-image" src="/public/images/index/index-slider-banner-restraunt.jpg" alt="...">
        <div class="carousel-caption">
          <h3></h3>
        </div>
      </div>
      <div class="item">
        <img class="slider-image" src="/public/images/index/index-slider-banner-kitchen.jpg" alt="...">
        <div class="carousel-caption">
          <h3></h3>
        </div>
      </div>
      <div class="item">
        <img class="slider-image" src="/public/images/index/index-slider-banner-cookbook.jpg" alt="...">
        <div class="carousel-caption">
          <h3></h3>
        </div>
      </div>
      <div class="item">
        <img class="slider-image" src="/public/images/index/index-slider-banner-robot.jpg" alt="...">
        <div class="carousel-caption">
          <h3></h3>
        </div>
      </div>
      <div class="item">
        <img class="slider-image" src="/public/images/index/index-slider-banner-calculator.jpg" alt="...">
        <div class="carousel-caption">
          <h3></h3>
        </div>
      </div>
      <div class="item">
        <img class="slider-image" src="/public/images/index/index-slider-banner-chart.jpg" alt="...">
        <div class="carousel-caption">
          <h3></h3>
        </div>
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
<div class="index-services row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="index-service col-xs-12 col-sm-6 col-md-3">
      <div class="col-xs-6">
        <a>
          <img src="/public/images/index/index-service-income.png"/>
          <b>Revenue</b>
        </a>
      </div>
      <div class="col-xs-6">
        <p>You can record every single revenues, check them at anytime.</p>
      </div>
    </div>
    <div class="index-service col-xs-12 col-sm-6 col-md-3">
      <div class="col-xs-6">
        <a>
          <img src="/public/images/index/index-service-expenditure.png"/>
          <b>Expense</b>
        </a>
      </div>
      <div class="col-xs-6">
        <p>Record your expenses, know how did your money go.</p>
      </div>
    </div>
    <div class="index-service col-xs-12 col-sm-6 col-md-3">
      <div class="col-xs-6">
        <a>
          <img src="/public/images/index/index-service-chart.png"/>
          <b>Statement</b>
        </a>
      </div>
      <div class="col-xs-6">
        <p>
          We provide sort of professional financial sheets and charts.
        </p>
      </div>
    </div>
    <div class="index-service col-xs-12 col-sm-6 col-md-3">
      <div class="col-xs-6">
        <a>
          <img src="/public/images/index/index-service-stock.png"/>
          <b>Inventory</b>
        </a>
      </div>
      <div class="col-xs-6">
        <p>Record where did your items from and go, and their prices.</p>
      </div>
    </div>
  </div>
</div>
<div class="index-multiDevices row">
  <b class="col-xs-8 col-xs-offset-2">Available everywhere</b>
  <div class="col-xs-8 col-xs-offset-2">
    <img src="public/images/index/index-multiDevices.png">
  </div>
</div>
<div class="index-email row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
    <div class="index-email-tip"><b>Please leave your email to support us.</b></div>
    <input type="text" class="form-control" placeholder="Input your email here">
  </div>
</div>
