.index-banner {
  margin-top: 50px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px 0px;
  box-shadow: 0px 3px 3px #333333;
}
.slider-image {
  width: 100%;
  max-height: 600px;
}
.index-services {
  margin: 50px 0px;
  border-radius: 3px;
  background-color: white;
}
.index-services {
  text-align: center;
}
.index-services .index-service {
  margin-bottom: 30px;
}
.index-services .index-service img {
  display: block;
  width: 50%;
  margin: 30px auto;
}
.index-services .index-service label {
  color: #777777;
}
.index-services div a button {
  background-color: white;
  border-color: #3498db;
  color: #3498db;
  font-size: 20px;
}
.index-services div a button:hover,
.index-services div a button:focus,
.index-services div a button:active {
  background-color: #3498db;
  color: white;
}
.index-multiDevices {
  max-height: 360px;
  margin: 0px 0px;
  padding: 30px 0px;
  background: -webkit-linear-gradient(top, white, #eeeeee);
  background: -o-linear-gradient(bottom, white, #eeeeee);
  background: -moz-linear-gradient(bottom, white, #eeeeee);
  background: linear-gradient(to bottom, white, #eeeeee);
}
.index-multiDevices b {
  display: block;
  color: #777777;
  font-size: 200%;
}
.index-multiDevices div img {
  width: 100%;
  margin: 0px auto;
}
.index-email {
  height: 450px;
  margin: 0px 0px;
  padding: 150px 0px;
  background-image: url("/images/index/index-email.jpg");
  background-size: cover;
}
.index-email:hover .index-email-tip {
  visibility: visible;
  animation: indexEmailTipLift 0.5s 1;
}
@keyframes indexEmailTipLift {
  from {
    bottom: -30px;
  }
  to {
    bottom: 0px;
  }
}
.index-email div .index-email-tip {
  background-color: #3498db;
  padding: 10px 10px;
  border-radius: 3px;
  box-shadow: 3px 3px 3px #333333;
  position: relative;
  visibility: hidden;
}
.index-email div .index-email-tip b {
  font-size: 20px;
  color: white;
}
.index-email div .index-email-tip:after {
  position: absolute;
  top: 100%;
  left: 20px;
  content: '';
  width: 0px;
  height: 0px;
  margin: 0 auto;
  border-top: solid 10px #3498db;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}
.index-email div input {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 15px;
  font-size: 20px;
}
